.col-3 label{
    font-style: oblique;
}
.form-check-input{
    alignment:center;
}
h1,h2{
    font-style: oblique;
    alignment:center;

}

.container-fluid{
    align-content: center;
    align-self: center;
    align-items: center;
}
body{
    background: url(../images/JBCLibrary.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.text-center{
    font-size: larger;
    font-style:oblique;
}
.img-rounded{
    height: 25px;
    width: 20px;
}