<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="../static/CSS/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="list.html">JBC Library</a>
        </div>
        <div class="navbar-header">
            <a href="/list">Home</a>
        </div>
        <div class="navbar-header">
            <a href="add.html"></a>
        </div>
        <div class="navbar-header">
            <a href="borrow.html"></a>
        </div>
        <div class="navbar-header">
            <a href="return.html"></a>
        </div>
    </div>
</nav>

<form action="#"
        th:action="@{/process}"
      th:object="${book}"
      method="post">
    <div class="col-3">
        <input type="hidden" th:field="*{id}" />
    </div>
    <div class="col-3">
        <label id="labelTitle">Title</label>
        <input type="text" class="form-control" id="textTitle" th:field="*{title}" placeholder="Enter book title"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
    </div>
    <div class="col-3">
        <label id="labelAuthor">Author</label>
        <input type="text" class="form-control" id="textAuthor" th:field="*{author}" placeholder="Enter book author"/>
        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
    </div>
    <div class="col-3">
        <label id="labelYear">Publication year</label>
        <input type="number" class="form-control" id="numberYear" th:field="*{publicationYear}" placeholder="Enter publication year"/>
        <span th:if="${#fields.hasErrors('publicationYear')}" th:errors="*{publicationYear}"></span>
    </div>
    <div class="col-3">
        <label id="labelISBN">ISBN</label>
        <input type="text" class="form-control" id="textISBN" th:field="*{ISBN}" placeholder="Enter ISBN"/>
        <span th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}"></span><br />
    </div>
    <div class="container-fluid">
        <label id="labelImage">Image</label>
        <input type="file" class="form-control-file" id="imageBook" th:field="*{image}"/>
        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span><br />
    </div>
    <div class="container-fluid">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

</body>
</html>