<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Borrow Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="../static/CSS/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/list">JBC Library</a>
        </div>
        <div class="navbar-header">
            <a href="/index">Home</a>
        </div>
        <div class="navbar-header">
            <a href="/list">list Books </a>
        </div>
        <div class="navbar-header">
            <a href="/add">Add Book </a>
        </div>

        <div class="navbar-header">
            <a href="/return">Return Book</a>
        </div>

    </div>
</nav>
<div class="container">
    <table class="table" title="Available Books" >
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Cover Image</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>

            <td th:text="${book.author}"></td>

            <td th:text="${book.publicationYear}"></td>

            <td th:text="${book.ISBN}"></td>

            <td th:file="${book.image}"></td>
            <td>
               <!-- <a href="/availablebooks">Borrow</a>-->
               <a th:href="@{/flag/{id}(id=${book.id})}">Borrow</a>

            </td>
            <!--
            <td>
                <div class="col-1">
                <input type="checkbox" name="borrowCheckBox" class="form-check-input" value=""/>

                </div>

            </td>
            -->
            <!--
                <input type="checkbox" class="form-check-input" th:field="*{borrow}" value=""/>
                <span th:if="${#fields.hasErrors('borrow')}" th:errors="*{borrow}"></span>
                -->
            <!--<div th:with="book.availability=${value}"></div>-->
        </tr>
        </tbody>

    </table>
</div>
<!--
<div class="container">
    <div class="col-1">
        <form action="#"
              th:action="@{/borrow}"
              th:object="${book}"
              method="post">

        <button type="submit" class="btn btn-primary">Borrow</button>
    </form>
    </div>
</div>
-->
</body>
</html>