<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Borrow Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="../static/CSS/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="list.html">JBC Library</a>
        </div>
        <div class="navbar-header">
            <a href="list.html">Home</a>
        </div>
        <div class="navbar-header">
            <a href="add.html"></a>
        </div>
        <div class="navbar-header">
            <a href="borrow.html"></a>
        </div>
        <div class="navbar-header">
            <a href="return.html"></a>
        </div>
    </div>
</nav>
<div class="container">
    <table class="table" title="Books Table" th:each="book : ${books}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Cover Image</th>
            <th>Select</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${book.title}"></td>

            <td th:text="${book.author}"></td>

            <td th:text="${book.publicationYear}"></td>

            <td th:text="${book.ISBN}"></td>

            <td th:file="${book.image}"></td>
            <td><input type="checkbox" class="form-check-input" value=""></td>
        </tr>
        <tr>
            <button type="submit" class="btn btn-primary">Borrow</button>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>