<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/CSS/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">JBC Library</a>
        </div>
        <div class="navbar-header">
            <a href="/">Home</a>
        </div>
        <div class="navbar-header">
            <a href="/add">Add Book </a>
        </div>
        <div class="navbar-header">
            <a href="/borrow">Borrow Book </a>
        </div>
        <div class="navbar-header">
            <a href="/return">Return Book</a>
        </div>

    </div>
</nav>
<div class="container">
    <table class="table" title="Books Table" >
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Year</th>
            <th>ISBN</th>
            <th>Cover Image</th>
            <th>Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>

            <td th:text="${book.author}"></td>

            <td th:text="${book.publicationYear}"></td>

            <td th:text="${book.ISBN}"></td>
            <td><a th:href="@{book.imagePath}">Image</a></td>
            <!--<td><img alt="Image" th:src="@{../static/images/{id}(id=${book.image})}" width="250" height="250"/></td>-->

            <!--<td th:file="${book.image}"></td>-->

            <td th:text="${book.availability}"></td>
            <td><a th:href="@{/borrow/{id} (id=${book.id})}">Borrow</a></td>
            <td><a th:href="@{/return/{id} (id=${book.id})}">Return</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>