<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Return Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="../static/CSS/stylesheet.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="list.html">JBC Library</a>
        </div>
        <div class="navbar-header">
            <a href="list.html">Home</a>
        </div>
        <div class="navbar-header">
            <a href="add.html"></a>
        </div>
        <div class="navbar-header">
            <a href="borrow.html"></a>
        </div>
        <div class="navbar-header">
            <a href="return.html"></a>
        </div>
    </div>
</nav>
</body>
</html>